@charset "UTF-8");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
  --purple: rgb(173, 40, 235);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightPink);
  background-image: url("../images/background-pattern-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  position relative;
}

main {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--white);
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  border-radius: 10px;
  padding: 20px;
}

#faq {
  display: flex;
  gap: 25px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 25px;
  color: var(--darkPurple);
}

#faq img {
  width: 25px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--darkPurple);
}

.question:hover {
  cursor: pointer;
  color: var(--purple);
}

.answer {
  display: none;
  color: var(--grayishPurple);
  font-size: 16px;
  font-weight: 400;
}

